[submodule "libraries/bus"]
	path = libraries/bus
	url = https://github.com/mdmower/Bus
	branch = master
[submodule "libraries/relay"]
	path = libraries/relay
	url = https://github.com/mdmower/Relay
	branch = master
